// '_contactStyle.scss'

section#contact {
	#contactMethods {
		max-width: 90%;
		height: auto;
	}
	div {
		padding: 5vh 0;
	}
	@media (max-width: 576px) {
		font-size: 0.8em;
	}	

	color: #fff;
	background-color: $primary-color;
	
	a {
		color: #fff;
		text-decoration: none;

		
		&:hover {
			.fa {
				color: darken($secondary-color, 10%);
				text-shadow: 0 0 20px lighten($secondary-color, 20%);
			}
		}
		.fa {
			transition-property: color, text-shadow;
			transition-duration: 0.25s;
			text-shadow: none;
		}
	}
}