// '_header.scss'

@import 'defaultVariables';

header {
	background-color: #fff;
	opacity: 1;
	display: inline-block;
	// height: 0;
	#topHeader {
		background-color: #fff;
		opacity: 1;
		width: 100vw;
		.nowrap a {
			padding: 0 1vw;
		}

		a {
			font-size: 2.5vw;
			display: inline-block;
			.h {
				text-align: center;
				display: inline-block;
				[class*="brand"] {
					margin: 0;
				}

				h1 {
					font-size: 3rem;
					text-transform: lowercase;
					color: $primary-color;
					transition: color 0.25s;
				}
				h2 {
					font-size: 1.4rem;
					text-transform: uppercase;
					color: $secondary-color;
					transition: color 0.25s;
					margin-top: 15px;

				}

				&:hover {
					h1 {
						color: lighten($secondary-color, 15%);
						transition: color 0.25s;
					}

					h2 {
						color: lighten($primary-color, 15%);
						transition: color 0.25s;
					}
				}
			}
		}

		@media only screen  and (max-width: 991px) {
			a, h1 {
				font-size: 1.4rem;
			}
			h2 {
				font-size: 0.9rem;
			}
			.fa {
				font-size: 1.8rem;
			}
		}
		
	}


	.img-container {
		z-index: 4;
		height: 10vw;
		background-image: url(https://livingtradition.tech/static/img/stage1.jpg);
		background-position: 0% 75%;
		background-size: 100%;
		background-repeat: no-repeat;
		overflow: hidden;
		box-shadow: 0 6px 5px -5px #000;
	}
}